@font-face {
    font-family: 'bitmap';
    src: url("fonts/syro.ttf") format('truetype')
}

html {
    background-image: url("images/background/american-megatrends-tile.png");
    background-repeat: repeat;
}

.banner-font {
    font-size: 30px;
}

.banner {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1250px) {
    .banner {
        width: 100px;
        height: 100px;
    }

    .banner-font {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .banner {
        width: 70px;
        height: 70px;
    }

    .banner-font {
        font-size: 10px;
    }
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;

    margin-top: 5px;

    font-family: 'bitmap', sans-serif;
    color: white;
}

.paragraph {
    margin-top: 30px;
    margin-left: 30px;

    font-size: 18px;
}

.title {
    margin-top: 30px;
    margin-left: 30px;
}

.container {
    display: flex;
    height: 95vh;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-icons {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: pink;
    justify-content: space-around;
}

.icon {
    width: 100%;
}

.menu-icons > div {
    flex-basis: 40%;
}

@media screen and (max-width: 1250px) {
    .menu-icons > div {
        flex-basis: 100%;
    }
}

.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 40%;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.content-card {
    height: 95%;
    width: 95%;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    background-color: #101026;
}

.sidebar {
    width: 15%;
}

.main-content {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img {
    width: 50px;
    height: 50px;
}

.icon-text {
    font-size: 18px;
}

.friends {
    text-align: center;
}

.badge {
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .icon-img {
        width: 30px;
        height: 30px;
    }

    .icon-text {
        font-size: 10px;
    }

    .friends {
        font-size: 10px;
    }

    .badge {
        width: 50%;
        height: 50%;
    }
}
